// Add Option Error
.addOptionError {
  color: $offWhite;
  font-style: italic;
  margin: $medSize 0 0 0;
  padding: 0 $medSize;

}

.addOption {
  display: flex;
  flex-direction: column;
  padding: $smSize;
}

.addOption__input {
  background: $drkBlue;
  border: none;
  border-bottom: .3rem solid darken($drkBlue, 10%);
  color: $offWhite;
  flex-grow: 1;
  margin: 0 0 $smSize 0;
  outline: none;
  padding: $smSize;  
}

@media (min-width: $desktopBreakpoint) {
  .addOption {
    flex-direction: row;
  }
  .addOption__input {
    margin: 0 $smSize 0 0;
  }
}