* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: $medSize;
  background-color: $lightBlue;
  font-family: $secondaryFont;
}
#app {
  margin: 0;
  padding: 0;
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
}
@import "./base_max-width_360px";
@import "./base_max-width_1000px_min-width_600px";
@import "./base_min-width_1000px";